* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.head-text {
    font-size: 42px;
    padding: 20px;
    background-color: cadetblue;
    color: white;
}

.intro-para {
    font-size: 20px;
    padding: 20px;
}

.list-items {
    font-size: 20px;
}

.item {
    padding: 20px;
    background-color:burlywood;
    margin: 2px;
    color: white;
}

.footer {
    background-color: cadetblue;
    height: 150px;
}
