* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.title,
.sub-title {
    padding: 20px;
    background-color: cadetblue;
    color: white;
}

.img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: auto;
}

.title {
    font-size: 42px;  
}

.sub-title{
   font-size: 30px; 
}

.para {
    margin: 20px;
}

.item {
    padding: 20px;
    background-color:burlywood;
    margin: 2px;
    color: white;
}

.div {
    margin: 20px;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 30px;
}
